{% extends "layout.html" %}

{% block title %}Otsikon muokkaus{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
<h3>Otsikon muokkaus</h3>
<form action="/edit_item/{{ item.id }}" method="post">
  <p>
    <label for="title">Uusi otsikko:</label> <br />
    <input type="text" name="title" id="title" value="{{ item.title }}" maxlength="50" required />
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä keskustelu" />
</form>
<p>
  <a href="/item/{{ item.id }}">Takaisin keskusteluun</a>
</p>
{% endblock %}
