{% extends "layout.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
{% if session.user_id == item.user_id %}
<p>
  <a href="/edit_item/{{ item.id }}">Muokkaa otsikkoa</a> |
  <a href="/remove_item/{{ item.id }}">Poista keskustelu</a>
</p>
{% endif %}



{% if session.user_id %}
<h3>Lisää viesti</h3>
<form action="/create_message" method="post">
  <label for="content">Viesti:</label>
  <textarea type="text" name="content" rows="4" cols="50" maxlength="200" required></textarea>
  <input type="hidden" name="item_id" value="{{ item.id }}">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lähetä" />
</form>
{% endif %}
{% endblock %}