{% extends "layout.html" %}

{% block title %}{{ thread.title }}{% endblock %}

{% block content %}
<h2>{{ thread.title }}</h2>
{% if classes %}
  {% for class in classes %}
  {{ class.title }}: {{ class.value }}
  {% endfor %}
{% endif %}
{% if session.user_id == thread.user_id %}
<p>
  <a href="/edit_thread/{{ thread.id }}">Muokkaa keskustelua</a> |
  <a href="/remove_thread/{{ thread.id }}">Poista keskustelu</a>
</p>
{% endif %}
{% if session.user_id %}
<h3>Lisää viesti</h3>
<form action="/create_message" method="post">
  <label for="content">Viesti:</label>
  <textarea type="text" name="content" id="content" rows="4" cols="50" maxlength="200" required></textarea>
  <input type="hidden" name="thread_id" value="{{ thread.id }}">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lähetä" />
</form>
{% endif %}
<hr />
{% for message in messages %}
<p id="{{ message.id }}">
  <a href="/user/{{ message.user_id }}">{{ message.username }}</a> |
  Lähetetty: {{ message.sent_at }} <br />
  {{ message.content }} <br />
</p>
{% if session.user_id == message.user_id %}
<a href="/edit_message/{{ message.id }}">Muokkaa</a> |
<a href="/remove_message/{{ message.id }}">Poista</a>
{% endif %}
<hr />
{% endfor %}
{% endblock %}