{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}
<h2>Käyttäjä {{ user.username }}</h2>
<p>
  Käyttäjällä on yhteensä {{ messages | count }} lähetettyä viestiä ja {{ threads | count }} aloitettua keskustelua.
</p>
<h3>Käyttäjän aloittamat keskustelut</h3>
<ul>
  {% for thread in threads %}
  <li><a href="/thread/{{ thread.id }}">{{ thread.title }}</a></li>
  {% endfor %}
</ul>
<hr />
<h3>Käyttäjän lähettämät viestit</h3>
<ul>
  {% for message in messages %}
  <li>
    <p>
      {{ message.content }} <br />
      Keskustelu:
      <a href="/thread/{{ message.thread_id }}#{{ message.id }}">{{ message.title }}</a> <br />
      Lähetetty: {{ message.sent_at }}
    </p>
  </li>
  {% endfor %}
</ul>
{% endblock %}